.bg{
  background: #1051cc;
  background-attachment: fixed;
  background-position: center center;
}
.tc{
  color: rgb(0, 132, 255);
}
/* /////////////////////////hover effect/////////////////////////// */
/****** image hover ******/
.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}
/* //////////////////////anchor tag hover effect for card text//////////////////// */
.anchar {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  /* padding-bottom: .25em; */
  text-decoration: none;
}

.anchar:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}
.anchar1 {
  border-bottom: 2px solid rgb(255, 255, 255);
}
